@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Roboto:wght@700&family=Silkscreen&display=swap');

/*
font-family: 'DynaPuff', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Silkscreen', cursive;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: linear-gradient(to bottom, rgba(0, 159, 238, 1) 0%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);*/
    background-color: gray;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: inline-block;
    position: relative;
    margin-left: 38%;
    margin-top: 10px;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
}

header .symbol {
    text-align: center;
    position: absolute;
    margin-top: 2.5%;
    left: 37%;
}

header .logo-text {
    text-align: center;
    position: absolute;
    margin-top: 15%;
    left: 13%;

}

.first {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 0.5%;
    margin-left: 12px;
    margin-right: 12px;
}

.content-first {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.main-page {
    width: 100vw;
}

.character-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.character{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.character-content{
    padding: 5px;
}